/* -------------------------------------------------------------------------------------------------------------------------- */
/* GENERAL BG*/
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0.2rem;
    box-sizing: border-box;
    letter-spacing: 0.8px;
}

/* RESUME BACKGROUND */
.text-background {
    background-color: #ffffff;   
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;    
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* HAMBURGER MENU */
.hamburger-menu {
    position: relative;
    background-color: #19191A;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

/* Hamburger Icon */
.hamburger-icon {
    font-size: 50px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
}

/* Menu Items */
.menu-items {
    position: fixed;
    top: 0;
    right: -75%;
    background-color: #242325;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 0.3s ease;
    border-left: 1px solid #FFFFFF;
}

/* Bar links */
.menu-items ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-items li {
    margin: 25px 0;
}

.menu-items a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 65px 0;
    display: block;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #5A595B;
}

/* Transitions */
.menu-items a.active {
    background-color: #AF0E31;
    color: #FFFFFF;
}

/* Hover if possible for mobile */
.menu-items a:hover {
    background-color: #444444;
}

/* Show menu when active */
.menu-items.active {
    right: 0;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* TEXT */
p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    color: #CCCCCC;
}

/* BODY */
body {
    background-color: #19191a;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem; /* Removed the second body declaration */
}

/* H1 */
h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

/* H2 */
h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #D7DBDD;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}

/* H3 */
h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #7D7D7D;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}

/* H4 */
h4 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: #FFFFFF;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}
@media (min-width: 1024px) {
    p {
        line-height: 1.8;
        padding-inline-start: 15%; /* Adjust padding for larger screens */
        padding-inline-end: 15%;
    }

    h1, h2, h3, h4 {
        padding-inline-start: 15%; /* Adjust padding for headings */
        padding-inline-end: 15%;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* IMAGES */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding: 8px;
}


.images-container {
    width: 100%;
    max-width: 100%; 
    padding: 1rem; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* HORIZONTAL LINE */
hr {
    border: 0;
    border-top: 0.1px solid #5A595B;
    width: 100%;
    margin: 0.4px;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* BUTTONS */
.scroll-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    background-color: #AF0E31;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 3rem 2rem; /* Reduced right and left padding to 2rem */
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .scroll-button {
        margin-left: 40rem;
        margin-right: 40rem;
    }
}

.scroll-button:hover {
    background-color: #D9112A;
}

.case-study-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    background-color: #AF0E31;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 3rem 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 2.8rem auto;
}

@media (min-width: 1024px) {
    .case-study-button {
        margin-left: 40rem;
        margin-right: 40rem;
    }
}

.case-study-button:hover {
    background-color: #D9112A;
}

.custom-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: #AF0E31;
    color: #FFFFFF; 
    border-radius: 0.9rem;
    padding: 3rem 6rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: block; 
    margin: 2rem auto; 
    width: max-content; 
}

.custom-button:hover {
    background-color: #D9112A;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* CUSTOM CUSTOM */
.custom-bold {
    display: block;  
    background-color: transparent; 
    color: #19191A;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-top: 2px solid #19191A;
    border-bottom: 2px solid #19191A; 
    width: 100%;
    text-align: left;  
}

/* ART STACK */
.images-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5px;
    margin-top: 0.5px;
    max-width: 100%;
    height: auto;
    padding: 8px;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* CASE STUDY BUTTONS */
.case-study {
    text-decoration: none;
}

.case-study-button1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #242325;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

.case-study-button1:hover {
    background-color: #333;
}

/* Increase padding for desktop*/
@media (min-width: 1280px) {
    .case-study-button1 {
        margin-left: 20%;
        margin-right: 20%;
        padding: 1.5rem 3rem;
        flex-direction: row;
    }
}

/* Image inside button */
.case-study-image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-bottom: 0.7rem;
    border-radius: 1.5rem;
    margin: 1rem;
}

/* Title Styling */
.case-study-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    line-height: 1.9rem;
    margin: 1rem;
}

/* Description for Case Studies */
.case-study-description {
    font-size: 0.9rem;
    color: #cccccc;
    font-weight: 200;
    margin: 1rem;
    line-height: 1.5rem;
    padding: 0;
}

/* CONTACT */
/* CONTACT SECTION */
.contact-section {
    background-color: #242325;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 2rem;
    color: #fff;
}

.contact-section h2 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
}

.divider {
    width: 50%;
    height: 1px;
    background-color: #5A595B;
    margin: 0.5rem auto 1.5rem auto;
}

/* Contact Info */
.contact-info p {
    font-size: 1rem;
    color: #D7DBDD;
    margin-bottom: 0.8rem;
    text-align: center;
}

.contact-info .contact-link {
    color: #AF0E31;
    text-decoration: none;
    font-weight: bold;
}

.contact-info .contact-link:hover {
    color: #D9112A;
    text-decoration: underline;
}

.contact-info .discord span {
    font-weight: bold;
    color: #D7DBDD;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .contact-section {
        padding: 1rem;
    }

    .contact-info p {
        font-size: 1.2rem;
    }

    .contact-section h2 {
        font-size: 1.5rem;
    }
}
